@model List<Cliente>
@using atomosDev.Models

<h3 class="display-5">Consulte as contas</h3>
<hr>
@foreach (Cliente clientes in Model)
{
    <h5 class="display-5">Titular da Conta: @clientes.nome</h5>
    <table class="table table-striped table-hover">
        <thead>
        <th scope="col">Id</th>
        <th scope="col">Tipo de Conta</th>
        <th scope="col">Agencia</th>
        <th scope="col">Conta</th>
        <th scope="col">Saldo</th>
    </thead>
    <tbody>
        @foreach (Conta contas in clientes.contas)
        {
            <tr>
                <td>@contas.id</td>
                <td>
                    @switch(contas.tipo)
                    {
                        case 0: <text>Conta Corrente</text>; break;
                        case 1: <text>Conta Poupança</text>; break;
                        case 2: <text>Conta Investimento</text>; break;
                    }
                </td>
                <td>@contas.agencia</td>
                <td>@contas.conta</td>
                <td>R$ @contas.saldo.ToString("n")</td>
            </tr>
        }
    </tbody>
    </table>
}